### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].value_counts())

player_df = pd.DataFrame({"Total Players":[total_players]})
player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = len((purchase_data["Item ID"]).unique())

average_price = (purchase_data["Price"]).mean()

number_of_purchases = (purchase_data["Purchase ID"]).count()

total_revenue = (purchase_data["Price"]).sum()

summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                          "Average Price": [average_price],
                          "Number of Purchases": [number_of_purchases],
                          "Total Revenue": [total_revenue]})

summary_df.style.format({'Average Price':"${:,.2f}",
                        'Total Revenue':"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
gender = purchase_data.groupby("Gender")

total_gender = gender.nunique()["SN"]

percentage_of_players = total_gender / total_players * 100

gender_df = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_gender})

gender_df.index.name = None

gender_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
purchase_count = gender["Purchase ID"].count()

avg_pprice = gender["Price"].mean()

avg_pvalue = gender["Price"].sum()

avg_purchase_total_per_person = avg_pvalue / total_gender

gender_purchase_df = pd.DataFrame({"Purchase Count": purchase_count,
                                  "Average Purchase Price": avg_pprice,
                                  "Average Purchase Value": avg_pvalue,
                                  "Average Purchase Total per Person": avg_purchase_total_per_person})

gender_purchase_df.index.name = "Gender"

gender_purchase_df.style.format({"Average Purchase Value":"${:,.2f}",
                                "Average Purchase Price":"${:,.2f}",
                                "Average Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
age_bins = [0,9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data

age_grouped = purchase_data.groupby("Age Group")

total_count = age_grouped["SN"].nunique()

percent_age = (total_count/total_players) * 100

age_demo = pd.DataFrame ({"Percentage of Players": percent_age, "Total Count": total_count})

age_demo.index.name = None 

age_demo.style.format({"Percentage of Players":"{:.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
#age_bins = [0,9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
#group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_count_age = age_grouped["Purchase ID"].count()

avg_pprice_age = age_grouped["Price"].mean()

total_pvalue = age_grouped["Price"].sum()

avg_total_purchase_age = total_pvalue/total_count

age_demo = pd.DataFrame({"Purchase Count": purchase_count_age,
                        "Average Purchase Price": avg_pprice_age,
                        "Total Purchase Value": total_pvalue,
                        "Avg Total Purchase per Person" :avg_total_purchase_age})
age_demo.index.name = None

age_demo.style.format({"Average Purchase Price":"${:.2f}",
                      "Total Purchase Value":"${:.2f}",
                      "Avg Total Purchase per Person":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
top_spenders = purchase_data.groupby["SN"]

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80